<h1 class="h4 title mb-2">Product Search</h1>
<p *ngIf="!products">Loading products...</p>

<button class="btn btn-primary mb-2" (click)="addProduct()">Add product</button>

<table class="table table-hover" *ngIf="products">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td style="width: 20%;">{{p.name}}</td>
            <td style="width: 50%;">{{p.description}}</td>
            <td style="width: 10%;">R$ {{p.price}}</td>
            <td style="width: 30%;"><img src="../../../../../files/{{p.fileName}}" style="width: 40%; height: 10%;"></td>
            <td><button class="btn btn-success btn-sm" (click)="editProduct(p)">Edit</button></td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteProduct(p)">Delete</button></td>
        </tr>
    </tbody>
</table>